/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -100; /* Hidden by default */ /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #d1cfe2 ;
  margin: 5vh auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 700px; 
  height: 610px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#edit_map_ctn{
  position: absolute;
  padding: 0px;
  border: 3px solid black;
  height: 512px;
  width: 512px;
}

#right_panel{
  position: relative;
  float: right;
  width: 165px;
  border: 1px solid black;
  height: 100%;
}

#right_panel .flex-row{
  height: 512px;
}

#right_panel .flex-row .label_centered{
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

#right_panel .flex-col{
  width: 50px;
  position: relative;
}

input[type=range][orient=vertical]{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  padding: 0 5px;
  margin: 0 auto;
}

#draw_erase_btn{
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 80px;
  z-index: 101;
}
#draw_erase_btn .icon{
  height: 50px;
}

#bottom_panel{
  position: absolute;
  height: 75px;
  width: 512px;
  bottom: 0;
  margin-left: 2px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.label_input{
  width: 100px;
}

#edit_map{
  z-index: 105;
}