html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#main-title {
  text-align: center;
  height: 5%;
  width: 100%;
  position: fixed;
  top: 0px;
  /* margin: 50px; */
  z-index: 5;
  background: black;
}

#dark-toggle {
  display: inline-block;
  position: absolute;
}

#main {
  /* width: 100%; */
  /* min-width: 1700px; */
  /* max-width: 2000px; */
  height: 91%;
  display: flex;
  /* display: -webkit-flex; */
  justify-content: center;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;
  /* white-space: nowrap; this does the trick */
  /* overflow: hidden; */ /* this prevents the grey divs from overflowing */
  flex-direction: row-reverse;
  /* height: 100%; */
  /* overflow: hidden; */
}


#panels {
  align-items: flex-end;
  overflow: scroll;
  width: fit-content;
  /* min-width: 1700px; */
  /* max-width: 2000px; */
  /* height: 100%; */
  height: 100%;
  display: flex;
  /* display: -webkit-flex; */
  /* justify-content: center; */
  /* flex-direction: column-reverse; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* white-space: nowrap; this does the trick */
  overflow: scroll; /* this prevents the grey divs from overflowing */
  background-color: black;
  /* position: fixed; */
  /* top: 0px; */
  min-height: min-content;
  /* right: 0px; */
  /* width: 500px; */
  justify-content: space-between;
  align-items: center;
  top: 50px;
  z-index: 4;
  /* flex-direction: column-reverse; */
}

#box{
      overflow: scroll;
      /* width: fit-content; */
      /* min-width: 1700px; */
      /* max-width: 2000px; */
      /* height: 1500px; */
      height: 100%;
      display: flex;
      /* display: -webkit-flex; */
      /* flex-direction: column; */
      /* margin-left: auto; */
      /* margin-right: auto; */
      /* overflow: scroll; */
      /* background-color: black; */
      /* position: fixed; */
      /* top: 0px; */
      /* min-height: min-content; */
      /* margin-left: auto; */
      height: 100%;
      flex-grow: 1;
      flex-flow: column wrap;
      align-content: flex-start;
      align-items: flex-end;
      flex-wrap: nowrap;
      justify-content: space-between;
      /* flex-direction: column-reverse; */
}



#info-container {
  min-width: 395px;
  max-width: 125px;
}
.container {
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* height: max-content; */
  width: fit-content;
  /* flex: 3 1 0; */
  border: 3px solid black;
  margin: 7px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #d1cfe2;
  /* height: fit-content; */
  min-width: 125px;
  max-width:400px;
  /* padding-block-end: 350px; */
  /* margin-right: 0; */
  align-content: flex-start;
  /* position: inherit; */
  /* padding-left: -15px; */
  margin: 0 auto;
  /* margin-top: 30px; */
  /* background-color: white; */
  /* border: 1px white solid; */
  /* border-radius: 3px; */
  /* padding: 15px; */
  flex-shrink: 0;
  /* display: none; */
}
.mainContainer {
  display: block;
  vertical-align: middle;
  flex: 3 1 0;
  border: 3px solid black;
  margin: 2px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #d1cfe2;
  /* height: fit-content; */
  /* left: 0; */
  /* top: 0; */
  position: absolute;
  height: var(--canvas-length);
  aspect-ratio: square;
  z-index: -100;
}

div#map-container {}

.thin-container {
  display: inline-block;
  vertical-align: middle;
  height: 95%;
  width: 100px;
  border: 3px solid black;
  margin: 2px;
  overflow: hidden;
}

#info-container {
  flex-grow: 0;
  overflow: scroll;
}

.sub-container {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: max-content;
}

.interface {
  width: 100%;
}

/*start of triple toggle css*/

.toggle-group {
  background-color: rgb(180, 177, 196);
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  vertical-align: middle;
}
.toggle-button input[type="radio"] {
  display: none;
}
.toggle-button {
  text-align: center;
  color: black;
  width: 100%;
  height: 20px;
  border-radius: 8px;
  padding: 2px;
}

.toggle-button div {
  border-radius: 8px;
}
.toggle-button.gridPixelToggle input:checked + label div {
  background-color: rgb(203, 144, 98);
}
.toggle-button.vertexToggle input:checked + label div {
  background-color: rgb(203, 144, 98);
}
.toggle-button.freeVertexToggle input:checked + label div {
  background-color: rgb(203, 144, 98);
}

.toggle-button div:hover {
  background-color: grey;
}
/*end of triple toggle css*/

/* drag and drop css */

.upload {
  width: 95%;
  height: 70px;
  margin: 0 auto;
  padding: 5px;
  border: 2px dashed #555;
  border-radius: 20px;
  font-family: sans-serif;
}

.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.upload.highlight {
  border-color: purple;
}

.btn {
  display: inline-block;
  flex-grow: 1;
  margin: 2px;
  padding: 2px;
  background: #bcbacb;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid #bcbacb;
  height: 50px;
  width: 100%;

  /* makes element text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  background: #d19b6d;
  transform: scale(1.1);
  font-weight: bold;
}

.btn:active {
  transform: scale(1);
}

.btn.pressed {
  background: #2c3e50;
  border-bottom: 1px solid #34495e;
  color: #1abc9c;
}

.icon {
  height: 30px;
  min-width: 60px;
  display: block;
  margin: auto;
}

.file_input {
  display: none;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2px 0px 2px 0px;
}

.flex-col {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  padding: 0px 2px 0px 2px;
}

.upload-btn {
  display: inline-block;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.grid-overlay {
  display: grid;
}

.overlay {
  grid-column: 1;
  grid-row: 1;
}

center {
  display: block;
  margin: 0px auto;
  /* text-align: center; */
  display: block;
}

.slider {
  display: inline-block;
  margin: 0px 10px;
  flex-basis: 100%;
}

.rotated {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg); /*do same for other browsers if required*/
}

.select-dropdown {
  margin: 0 auto;
  display: block;
  width: 95%;
}

.shrink {
  display: flex;
  width: 100%;
  height: 100%;
}

.axis {
  border-style: none;
}

.empty {
  z-index: -100;
}

.scen_label {
  margin: 0px 5px 0px 10px;
}

.active {
  background: #d19b6d;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**************************** TOOLTIP  *******************************/
.hover-info[alt] {
  display: flex;
  justify-content: center;
}
.hover-info[alt]:hover::after {
  /* tooltip */
  content: attr(alt);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  box-sizing: border-box;
  font-size: 13px;
  font-family: arial, sans-serif;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  z-index: 10000;
}

.hover-info[alt]:hover::before {
  /* arrow */
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -5px;
  content: " ";
  border: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 10000;
}

.empty-outer {
  margin: 0;
  border: 0;
  padding: 0;
}


#bottom-bar {
    padding: 12px 30px;
    background: black;
    color: #fff;
    font-size: 14px;
    text-align: right;
    line-height: normal;
    position: fixed;
    right: 0px;
    bottom:0px;
    width: 100%;
    height: fit-content;
    z-index: 5;
}
#bottom-bar a {
    padding-left: 15px;
    cursor: pointer;
}

element.style {
    display: block;
}
#team {
    height: 650px;
    width: 650px;
    margin-left: -325px;
    margin-top: -295px;
}

.overlays {
    background-image: initial;
    background-color: rgb(34, 36, 38);
}
.overlays {
  display: block;
    background: #eee;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9503;
    overflow-x: hidden;
    overflow-y: hidden;
}


#dark-overlay {
    display: none;
    background: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9502;
    overflow-x: hidden;
    overflow-y: hidden;
}

#detail_btn, #planner_config_btn{
  font-weight: bold;
}
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}

#main {
  position: relative;
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
  top: 33px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

