:root{
	--canvas-length: 472px;;
	--canvas-remaining: calc(512px - var(--canvas-length));
}

#map-container{
	flex-grow: 5;
	min-width:520px;
}

#map{
	overflow: hidden;
	position: relative;
	min-width:520px;
	height: 520px;
}

#canvas_container{
	height: var(--canvas-length);
	width: var(--canvas-length);
	position: absolute;
	float: right;
	top: var(--canvas-remaining);
	left: var(--canvas-remaining);
	/*margin-top: var(--canvas-remaining);*/
	border: 1px solid black;
}

.map_canvas{
	height: 100%;
	width: 100%;
	position: absolute;
	border: 1px solid black;
}

#left_axes{
	position: absolute;
	height: var(--canvas-length);
	width: calc(512px - var(--canvas-length));
	overflow: hidden;
	top: var(--canvas-remaining);
	padding: 0px;
}

#top_axes{
	position: absolute;
	width: var(--canvas-length);
	height: var(--canvas-remaining);
	left: var(--canvas-remaining);
	top: 0;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
}

/* controls map order and how the cells are displayed */
#hover_map{z-index:62}
#dotted{z-index:48}
#current_XY{z-index:46}
#start, #goal{z-index:45}
#path{z-index:44}
#neighbors{z-index:43}
#visited{z-index:42}
#queue{z-index:41}
#bg{z-index:40}

.draggable{
	position: absolute;
	z-index: 63;
}

.arrow{
	display: block;
	position: absolute;
	z-index: 61;
	fill: #bcbacb;
}

.hover_popup{
  display: none;
  background: #C8C8C8;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width:200px;
  height:auto;
}

#hover_x, #hover_y{
	display: inline;
}

#layer-controls{
	overflow: hidden;
	height: calc(var(--canvas-remaining) + var(--canvas-length));
	flex-grow: 1;
}