:root{
	--canvas-length: 488px;
	--canvas-offset: calc((var(
	--canvas-length) - 472px) / 2);
	--canvas-remaining: calc(550px - var(
	--canvas-length));
	--canvas-z-index: 40;
}



#map-container{
	flex-grow: 5;
	min-width:580px;
	min-height: 580px;
	/* left: 500px;
  top:72px; */
	/* height: 90%; */

  top:25%;
	/* aspect-ratio: 1; */
}

#map{
	overflow: hidden;
	position: absolute;
	min-width: 570px;
	height: 100%;
  left:0px;

}

#canvas_container{
	height: var(--canvas-length);
	width: var(--canvas-length);
	position: absolute;
	float: right;
	top: var(--canvas-remaining);
	left: var(--canvas-remaining);
	margin: 0px 20px 20px 0px;
	border: none;
  padding: none;
}

.map_canvas{
	height: calc(var(--canvas-length) - 2 * var(--canvas-offset));
	width: calc(var(--canvas-length) - 2 * var(--canvas-offset));
	position: absolute;
	top: var(--canvas-offset);
	left: var(--canvas-offset);
	border: none;
}

#left_axes{
	position: absolute;
	height: calc(var(--canvas-length) - var(--canvas-offset) + 20px);
	width: var(--canvas-remaining);
	overflow: hidden;
	top: calc(var(--canvas-remaining) + var(--canvas-offset));
	padding: 0px;
	overflow: auto;
}
#left_axes:after { 
  content: ' ';
  display: block; position: relative;
  border: 1px solid black;
  height: calc(var(--canvas-length) - 2 * var(--canvas-offset));
}

#left_axes_markers{
  width: calc(var(--canvas-remaining) - 30px);
  padding: 0px;
}

.left-tick {
  border-top: 2px solid black;
  height: 18px;
  width: calc(var(--canvas-remaining) - 30px);
  position: absolute;
  text-align: right;
}

.left-tick > :first-child{
  padding-right: 5px;
}

#top_axes{
	position: absolute;
	width: calc(var(--canvas-length) - var(--canvas-offset) + 20px);
	height: var(--canvas-remaining);
	left: calc(var(--canvas-remaining) + var(--canvas-offset));
	top: 0;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
}
#top_axes:after { 
  content: ' ';
  display: block; position: relative;
  border: 1px solid black;
  width: calc(var(--canvas-length) - 2 * var(--canvas-offset));
}

#top_axes_markers{
  height: calc(var(--canvas-remaining) - 30px);
  width: 100%;
  padding: 0px;
}

.top-tick {
  border-left: 2px solid black;
  width: 18px;
  height: calc(var(--canvas-remaining) - 30px);
  position: absolute;
}

.top-tick > :first-child{
  position: absolute;
  top: 12px; 
  padding-left: 3px;
}

.draggable{
	position: absolute;
	z-index: 23;
  cursor: move;
}

.arrow{
	display: block;
	position: absolute;
	fill: #bcbacb;
}

#arrow-div{
  z-index: calc(var(--canvas-z-index) + 1);
}

.hover_popup{
  display: none;
  background: #C8C8C8;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 80;
  /* width:200px; */
  height:auto;
  border-radius: 10%;
}

#hover_x, #hover_y{
	display: inline;
}

#layer-controls{
	/* height: auto; *//*calc(var(--canvas-remaining) + var(--canvas-length));*/
	flex-grow: 2;
	width: 176px;
	right: 0px;
}

/*start of layers css*/
h1{
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}

.canvas_layers{
  width: 300px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0px; 
  right: 0px;
  margin: 0px auto;
}

#canvas_layers input[type=checkbox] {
  display: none;
}

#canvas_layers label{
  
  background: rgb(188,186,201);
  height: fit-content;
  width: auto;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: black;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 9px;
  letter-spacing: 1px;
 
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  padding: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 8px;
}

#canvas_layers label h2{
  margin:6px;
}

#canvas_layers label h2 span{
  display: block;
  font-size: 9px;
  text-transform: capitalize;
  font-weight: normal;
  color: black;
}
#canvas_layers label:after{
  content:"";
  width: 7px;
  height: 7px;
  background: no-repeat center center;;
  display: block;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  top: 50%;
  transition: border 0.2s ease;
    
}



/*
#show_visited:checked ~ label[for=show_visited]
{
  background: #2C3E50;
  border-bottom: 1px solid #34495E;
  color: #1ABC9C;
}
#show_visited:checked ~ label[for=show_visited] h2 span
{
  color: #1ABC9C;
  
}



#show_visited:checked ~ label[for=show_visited]:after
{
  background:  white;
}
*/
/*end of layers css*/



#mapArea{
  color: black;
  width: 70%;
  /* left: 504px; */
  /* position: fixed; */
  /* top: 146px; */
  /* left: 521px; */
  /* height: 90%; */
  /* position: fixed; */
  /* height: 80%; */
  flex: 2;
  z-index: 1;
  overflow: hidden;
  background: black;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-content: center;
}